/* INDICE

-GENERAL

-LAYOUT

-HEADER

-MAIN
    -hero
    -sponsor
    -brainpull
    -success_cases
    -schaping_future
    -partner

-FOOTER 
    -form
    -contact

-DEBUG

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    position: relative;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
li,
menu{
    list-style: none;
    text-decoration: none;
    color: currentColor;
}

img{
    min-height: 18px;
    max-height: 100%;
    display: inline-block;
}

h1{
    font-size: calc(36px + 12vh);
    line-height: 1.1em;
    font-weight: 900;
}




/* -----------------------------------------------------------------------------------------------------------
                                    LAYOUT
------------------------------------------------------------------------------------------------------------------- */

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.flex_row{
    display: flex;
}

.col{
    flex-shrink: 0;
}

.flex_col{
    display: flex;
    flex-direction: column;
}



/* -----------------------------------------------------------------------------------------------------------
                                    HEADER
------------------------------------------------------------------------------------------------------------------- */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    padding: 16px 24px;
    color: white;
}

header .flex_row{
    justify-content: space-between;
    align-items: baseline;
}


.logo{
    align-self: center;
}

.spacing_click{
    padding: 12px;
}

.icon{
    font-size: 22px;
}

.icon_little{
    font-size: 12px;
    font-weight: 900;
}

.icon_enfatized{
    color:gold;
}

.icon_desabled{
    color: rgba(255, 255, 255, 0.5);
}

.vertical_line{
    color: gold;
    display: inline-block;
    padding: 0 12px;
    font-size: 36px;
    font-weight: 900;
}



/* -----------------------------------------------------------------------------------------------------------
                                    MAIN
------------------------------------------------------------------------------------------------------------------- */

main{
    min-height: 1000px;
}

.button{
    color: black;
    font-size: 22px;
    padding: 12px 12px;
    font-weight: 600;
    margin: 24px 0;
    display: inline-block;
}

.button-primary{
    background-color:gold ;
}

.button-secondary{
    background-color:rgb(255, 255, 255) ;
}


/* -------------HERO-------------------------------------------------------------- */

.containermax{
    padding: 0 80px;
    height: 100%;
}

.hero{
    height: 100vh;
    background-color: aquamarine;
}

.titolo{
    color: white;
}

.row_hero{
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 24px;
    padding: auto 0;
}

.hero article{

}




/* -----------------------------------------------------------------------------------------------------------
                                    FOOTER
------------------------------------------------------------------------------------------------------------------- */

.footer{
    background-color: black;
    color: white;
}




/* -----------------------------------------------------------------------------------------------------------
                                    DEBUG
------------------------------------------------------------------------------------------------------------------- */

.debug{
    border: dashed 3px palevioletred;
    -padding: 12px;
}