/* INDICE

-GENERAL

-LAYOUT

-HEADER

-MAIN
    -hero
    -sponsor
    -brainpull
    -success_cases
    -schaping_future
    -partner

-FOOTER 
    -form
    -contact

-DEBUG

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


/* -----------------------------------------------------------------------------------------------------------
                                    LAYOUT
------------------------------------------------------------------------------------------------------------------- */

.container{
    max-width: 1400px;
    margin: 0 auto;
}






/* -----------------------------------------------------------------------------------------------------------
                                    HEADER
------------------------------------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------------------------------------
                                    MAIN
------------------------------------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------------------------------------
                                    FOOTER
------------------------------------------------------------------------------------------------------------------- */

.footer{
    background-color: black;
    color: white;
}




/* -----------------------------------------------------------------------------------------------------------
                                    DEBUG
------------------------------------------------------------------------------------------------------------------- */

.debug{
    border: dashed 3px palevioletred;
    padding: 12px;
}